@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  overflow-x: hidden !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #1A1A1A
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.container {
  position: relative;
  text-align: center;
  color: white;
} 

/* Centered text */
.centered {
  position: absolute;
  font-size: 2vw;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight:  '700';
}
.centered4 {
  position: absolute;
  font-size: 2vw;
  top: 17%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight:  '700';
}
.centered2 {
  position: absolute;
  font-size: 1vw;
  top: 63%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1;
  width: 100%;
}
.centered2s {
  position: absolute;
  font-size: 1vw;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1;
  width: 100%;
}
.centered2ss {
  position: absolute;
  font-size: 1vw;
  top: 83%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1;
  width: 100%;
}
.centered3 {
  position: absolute;
  font-size: 2vw;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight:  '700';
}
.inoput {
  background-color: transparent !important;
    border: 1px;
    border-bottom: 1px solid rgb(99, 99, 99);
    padding: 8px;
    display: block;
    margin-right: auto;
}
